@theme {

  --breakpoint-2xl: 1280px;
  /* Primary */
  --color-primary: #020713;

  /* Accent */
  --color-accent: #3B71FB;

  /* Secondary */
  --color-secondary: #183170;

  /* Text */
  --color-text-color: #9499A6;

  /* Orange */
  --color-orange: #FF7928;

  /* Border */
  --color-border-100: #C8D7FF;
  --color-border-200: #0A142D;

  /* Gray */
  --color-gray-100: #BCC3D8;

  /* Main Background */
  --color-main-background: #F6F6F9;

  /* Line Heights */
  --leading-1.1: 1.1;
  --leading-1.15: 1.15;
  --leading-1.2: 1.2;
  --leading-1.25: 1.25;
  --leading-1.3: 1.3;
  --leading-1.35: 1.35;
  --leading-1.4: 1.4;
  --leading-1.45: 1.45;
  --leading-1.5: 1.5;
  --leading-1.55: 1.55;
  --leading-1.6: 1.6;

  /* Font Sizes */
  --text-dynamic-xs: clamp(0.75rem, 0vw + 0.75rem, 0.75rem);
  --text-dynamic-sm: clamp(0.875rem, 0vw + 0.875rem, 0.875rem);
  --text-dynamic-base: clamp(0.875rem, 0.216vw + 0.789rem, 1rem);
  --text-dynamic-lg: clamp(1rem, 0.216vw + 0.914rem, 1.125rem);
  --text-dynamic-xl: clamp(1.125rem, 0.216vw + 1.039rem, 1.25rem);
  --text-dynamic-2xl: clamp(1.25rem, 0.431vw + 1.078rem, 1.5rem);
  --text-dynamic-2.5xl: clamp(1.5rem, 0.431vw + 1.328rem, 1.75rem);
  --text-dynamic-3xl: clamp(1.5rem, 0.647vw + 1.241rem, 1.875rem);
  --text-dynamic-3.5xl: clamp(1.5rem, 0.647vw + 1.741rem, 2rem);
  --text-dynamic-4xl: clamp(1.5rem, 1.293vw + 0.983rem, 2.25rem);
  --text-dynamic-4.5xl: clamp(2rem, 0.826vw + 1.69rem, 2.5rem);
  --text-dynamic-5xl: clamp(2.25rem, 1.293vw + 1.733rem, 3rem);
  --text-dynamic-6xl: clamp(3rem, 1.293vw + 2.483rem, 3.75rem);
  --text-dynamic-6.5xl: clamp(3rem, 1.378vw + 2.677rem, 4rem);
  --text-dynamic-7xl: clamp(3rem, 2.012vw + 2.528rem, 4.5rem);
  --text-dynamic-7.5xl: clamp(3rem, 2.9348rem + 2.4117vw, 5.25rem);
  --text-dynamic-8xl: clamp(3.75rem, 3.018vw + 3.043rem, 6rem);
  --text-dynamic-9xl: clamp(4.5rem, 4.694vw + 3.4rem, 8rem);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }  
  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }
}

